h1,h2,h3,h4,h5,h6,p,pre {
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: arial, sans-serif;    
}

html {
    font-size: 100%;
    font-family: 'Neuton', georgia, serif;
}

header h1 {

}

.code-area {
    width: 350px;
    position: relative;
}

.cljs-input {
    width: 300px;
    height: auto;
    border: solid blue 1px;
    padding: 10px;
}

.cljs-output {
    width: 600px;
    border: solid #ccc 3px;
    padding: 5px;
    font-family: courier;
    font-size: 80%;
    position: absolute;
    right: -600px;
    top: 2px;
    display: none;
}

.cljs-output ins {
    text-decoration: none;
    background-color: #7f7;
}

.cljs-output del {
    text-decoration: none;
    background-color: #f77;
}

.error-indicator {
    font-size: 120%;
    background-color: red;
    color: white;
    padding: 4px;
    position: absolute;
    top: 5px;
    left: 304px;
    display: none;
}
